doctype
html
  head
    block title
  body
    p asdf
  form(action="/login" method="post")
    input(type='text' name='id' placeholder='id')
    input(type='text' name='pw' placeholder='pw')
    input(type='submit')
